{% extends "base.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="styles.css">
{% endblock %}
{% block body %}
    <div class="header">SMTH YEAR</div>
    <div class="content">
        
    </div>
{% endblock %}